URL=http://v5.t.imop.com/config.xml
<?xml version="1.0" encoding="utf-8"?>
<config>
	<version>0.9.43.631</version>
	<server_ip>124.250.115.168</server_ip>
	<server_port>7800,7801,7802,7803</server_port>
	<username>name1</username>
	<password>123456</password>
	<policy_url>xmlsocket://192.168.0.62:7070</policy_url>
	<login>1</login>
	<debug>0</debug>
	<multiopen>5</multiopen>
	<localconnection>3</localconnection>
	<operation_com>0</operation_com>
	<sound_url>http://resource.t.imop.com/sound</sound_url>
	<resource_url>http://resource.t.imop.com/</resource_url>
	<cookie_login>1</cookie_login>
	<language>zh_CN</language>
	<layout>layout_CN</layout>
	<charge_type>0</charge_type>
	<currency_type>0</currency_type>
	<shortcut>http://my.imop.com/shortcut</shortcut>
	<vip_abroad>0</vip_abroad>
	<server_url>v5.t.imop.com</server_url>
	<survey_url></survey_url>
	<app_url></app_url>
	<login_url></login_url>
	<gm_mail>1</gm_mail>
	<double_click>0</double_click>
</config>
URL=http://v5.t.imop.com/info.xml
﻿<?xml version="1.0" encoding="utf-8"?>
<info>
	<notice><![CDATA[近期更新热点：$1.金币、福寿商店下架“八荒”系列仙葫，金币商店上架“三元及第仙葫、乾坤八卦仙葫超值礼包”。$2.优化骑宠功能，新增骑宠“管制”功能，骑宠列表中选择骑宠使用“管制”后即可对人物生效加成，原“上骑”功能仅作为骑宠外形展示。 $<font color='#ff0000'>版本更新后，请玩家清空缓存后，再登陆游戏。 </font>]]></notice> 
<help>
	<common>
			<text>人物点住地面任意一点，2秒后人物会一直追随鼠标移动</text>
			<text>在“地图”上点击飞行可快速飞到想达到的位置</text>
			<text>点击“世界地图”，可以查看各小地图详细资料</text>
			<text>每人每天有三次免费飞行和传送的机会，如果是组队状态则要收费哦</text>
			<text>点击左上角的喇叭图标，可以打开公告面板</text>
                        <text>如果感到游戏内人多，画面太卡，请点击左上角的人物图标隐藏其它玩家</text>
			<text>在新手奖励面板中，用10两金子可购买超值新手礼包</text>
			<text>保持连续登录，并领取了免费奖励的玩家，可以较低的价格购买到稀有道具</text>
			<text>10～45级可在新月村和灵昌广场的兑奖天尊处领取每日签到红利</text>
			<text>充值后要在背包处选择“兑入金子”，才能获得游戏里的金子</text>
			<text>当您消费时提示货币不足以支付，请检查物品栏内消耗货币的种类是否选择错误</text>
			<text>在物品栏中选择消耗金子，用金子购买道具时才能获得积分</text>
			<text>使用快捷键“R”可打开仙葫界面选择开启自己需要的仙葫</text>
			<text>开仙葫是有几率获得金龙蛋的唯一方法</text>
			<text>宠物设为参战状态后则默认为绑定</text>
                        <text>20～45级玩家可在新月村和灵昌广场的兑奖天尊处领取每日福利之20瓶大瓶药酒</text>      
			<text>在新月村和灵昌城的猎户那里设置宠物保护密码，可以保护宠物的安全</text>
			<text>宠物20级前可在治疗NPC处免费恢复忠诚</text>
			<text>提高宠物悟性可以按百分比增加宠物属性</text>
			<text>宠物仙丹可临时增加宠物的每级成长数值，并不是永久改变宠物资质</text>
			<text>高等级宠物经验书、卷轴和神符等道具可以给低等级宠物使用，但效果会减半</text>		
			<text>当宠物不获得经验时,请查看宠物成长上限或携带等级是否和玩家等级持平</text>
			<text>宠物在学习技能书时是有几率遗忘掉其他非天赋技能的，请慎重</text>
			<text>宠物修为越高的宠物，被控制的几率就越小</text>
			<text>宠物等级的提升以及给宠物服用提高修为上限的药品可以提高宠物的修为上限</text>
			<text>将常用技能拖到“自动”面板里就可以自动战斗25回合</text>
			<text>如果怪物等级高于技能适用等级，怪会识破玩家的技能</text>
			<text>与其他玩家组队可以更快完成任务</text>
			<text>护送任务中，玩家所护送的NPC如果在战斗中死亡或者玩家下线、解组都会导致护送任务将会失败</text>
			<text>打boss前请在背包中预留出掉落物品的空位</text>
			<text>挑战boss失败需要放弃任务到接任务的NPC处重新接任务</text>
			<text>每天的前两轮历练任务有8倍任务奖励，放弃任务会浪费掉当天一环的8倍奖励</text>
			<text>历练任务每天只可放弃五次</text>
			<text>20级以后可以在皇城舞修罗处进行“除暴安良”任务，每天前2轮免费，2轮后需要使用“通缉令”才能继续领取</text>
			<text>兑换魔性碎片任务是有等级限制的，在做任务过程中如果超过限制等级则无法交付</text>
			<text>各城镇的武器商可将五等矿石熔炼成对应的五等矿锭，非五等矿石将不能熔炼</text>
			<text>原料合成的合成基数越大，成功率越高</text>
			<text>给装备升星可提高基础属性</text>	
			<text>稀有装备的基础、附加属性更强</text>
			<text>绿色、蓝色、紫色、橙色的装备分解可获得精华</text>
			<text>打造界面中的药品制造，可以制造出高恢复量的药品</text>
			<text>40级以上的玩家可携带1锭银子找灵昌城的帮会管理老人申请创建帮会</text>
			<text>加入帮会后可通过做帮会任务获得经验和声望</text>
			<text>无光的晶石碎片可在朱天宇那里兑换成帮会晶片</text>
			<text>活跃度是维持一个帮会的基础，帮会成员完成帮会任务可提升帮会活跃度，活跃度降至0后帮会将解散</text>
			<text>拥有3级以上帮会的玩家可以通过完成商人任务获得商会徽章</text>		
			<text>拥有好友关系的男女玩家在达到25级后可找月老接受订婚任务</text>
			<text>拥有订婚关系的玩家在亲密度达到999后可找月老申请结婚</text>
			<text>如果您需要删除的当前人物，可以找灵昌广场的张宏碧帮您实现</text>
			<text>灵樨祈福榜是针对所有服务器的玩家进行统计，由于数据量较大稍有延迟</text>
			<text>每天、每周开启灵樨祈福仙葫排名靠前的玩家还可额外获得灵樨富贵仙葫和灵樨至尊仙葫等大奖</text>
			<text>砸“金蛋”为特殊道具，您只能通过金子或金票中的一种货币购买，若提示金票不足，请将支付类型选择为金子</text>
			<text>可通过打造的药品制作功能，使用低等级的仙丹合成获得等级更高的宠物仙丹</text>		
			<text>75级以上拥有道具“天书”的玩家可在灵昌广场NPC赤灵子处接取转生系列任务</text>		
			<text>拥有VIP功能的玩家可以享受多方面增益，更有VIP副本</text>
			<text>通过交易行可以对未绑定商品进行寄售和购买，寄售宠物需要把宠封印在空白宠物卡里</text>
			<text>通过淘宝行可以对绑定的各类徽章以及金龙蛋、天书进行寄售和购买</text>
                        <text>玩家到达40级以后，可在世界频道发言，两次发言之间需间隔10秒</text>
                        <text>提升宠物修为的药品可通过打造的药品制作功能获得</text>
                        <text>跨系使用技能会耗费更多的法力与怒气</text>                       
                        <text>玩家可通过打造功能的装备改造面板，对已绑定的装备进行改造</text>
                        <text>15级-75级的玩家每天可在公告的领取经验面板领取多倍离线经验</text>
                        <text>宠物的变异状态是在玩家抓捕宠物时自动生成，或者由还童丹生成</text>
                        <text>使用返本还元不会影响玩家历练的八倍经验</text>
                        <text>30级以上的玩家才可以收徒哦</text>
                        <text>拥有更高的师徒值可领取更好的师徒奖励</text>
                        <text> 师徒组队情况下只有由徒弟带队完成师徒任务才可获得师徒值</text>
                        <text>玩家可在灵昌城npc帮会管理老人处申请加入帮会</text> 
                        <text>如果您出现画面不清晰或加载缓慢的问题，建议您清理IE缓存后再登陆游戏</text>
                        <text> 建议您定时查看官网公告，获取最新天书奇谈游戏资讯</text>
                        <text>宠物达到成长限后可以通过使用洗髓丹来提高宠物成长上限。</text>
                        <text> 如果您在游戏中碰到疑问，建议您登录：http://www.tianshu.cn/查看天书奇谈游戏指南</text>
                        <text>通过解散后再组建团队，可以重置团队类型的副本进度</text>
                        <text>团队类型的副本，需要玩家组建团队后方可进入</text>
                        <text>转生后人物方可使用骑宠</text>
                        <text>佩戴避水珠的转生玩家可由迷雾海进入海底世界</text>
                        <text>避水珠是进入海底世界的钥匙，只可获得一次，请拥有该道具的玩家一定注意保管</text>
                        <text>帮主可在灵昌城NPC帮会管理老人处开启帮会大厅，帮主开启帮会大厅后，拥有帮会的玩家可从灵昌城NPC帮会老人(一线)处进入帮会大厅</text>
                        <text>拥有帮会的玩家在一线使用回帮符，可瞬间回到帮派</text>
                        <text>玩家可在公告的BOSS查询面板中查询野外BOSS的刷新时间及最终击杀BOSS的玩家</text>
                        <text>玩家可在系统菜单面板中调节背景音乐的声音大小</text>
                        <text>玩家可通过团队界面进行登记、搜索和申请想加入的团队</text>
                        <text>未绑定的宠物不可使用绑定的悟性丹</text>
                        <text>开启老板键，游戏画面一键转换</text>
                        <text>使用宠物内丹吞噬装备、内丹元气露可提升宠物修炼经验</text> 
                        <text>通过完成空灵之地的任务、使用帮会科技可以获得宠物内丹</text> 
                        <text>安全邮箱和身份验证是确认账号的唯一手段，请玩家完整填写个人资料并注意保密，以防遭受不必要的损失</text>
                        <text>装备宠物内丹，可以让自己的爱宠更强</text>
                        <text>随着骑宠忠诚度的下降，骑宠对人物的属性加成效果将减弱</text>
                        <text>随着玩家技能熟练度的提高，会降低技能使用时获得熟练度的几率</text>  
                        <text>高级的宝石可以由低级的同类宝石合成获得</text>  
                        <text>宝石镶嵌时使用镶嵌符，可以提高镶嵌成功率</text>  
                        <text>红名玩家通过传送、传送点方式进入主城，或死亡后会被自动传送至恶人谷</text>  
	</common>
	<level min="1" max="5">
			<text>点击左上角的“图”可以打开小地图</text>
			<text>在地图用左键点击空白位置可以移动到你想到的地方</text>
			<text>如果您是第一次进入游戏请找若华领取新手任务</text>
			<text>人物属性点分配后要记得点确定</text>
			<text>5级时可打开公告的新手奖励领取5级新手礼包</text>
                        <text>玩家可去NPC刘大伯处登记拜师，或从师父簿中选取已登记的玩家申请拜师</text>
	</level>
	<level min="6" max="9">
			<text>在任务面板的可接受任务列表中可以看到当前的可接任务</text>
			<text>可以点击任务描述中NPC的名字找到NPC</text>
			<text>想给技能升级可以在郭不平那里买技能书</text>
			<text>点击蟠龙图腾可开启当前地图传送点</text>
			<text>点击“世界地图”并选择传送点可快速传送到该地图</text>
			<text>在“地图”上点击飞行可快速飞到想达到的位置</text>
			<text>点击任务描述中NPC名字可以找到NPC</text>
	</level>
	<level min="10" max="14">
			<text>10级时可打开公告的新手奖励领取10级新手礼包</text>
	</level>
	<level min="15" max="19">
			<text>15级～19级可以找左力熊接受历练任务</text>
			<text>15级时可打开公告的新手奖励领取15级新手礼包</text>	               
			<text>黑色水域会定时随机刷出千年蛇妖BOSS</text>
	</level>
	<level min="20" max="24">
			<text>20级～24级可以找刘镇封接受历练任务</text>
			<text>20级时可打开公告的新手奖励领取20级新手礼包</text>	      
	</level>
	<level min="25" max="29">
			<text>25级～29级可以找刘长寿接受历练任务</text>
                        <text>25级～34级的玩家每日可在灵昌城的公告牌处领取杀怪任务，获取不菲的经验</text>
			<text>25级以后可以在朱天宇处兑换帮会晶片</text>
			<text>古道会定时随机刷出千年蛇妖BOSS</text>
                        <text>28级以上的玩家可在灵昌城NPC左千秋处接取相关任务，</text>
			<text>25级时可打开公告的新手奖励领取25级新手礼包</text>
	</level>
	<level min="30" max="34">
			<text>30级～39级可以找柳鸿儒接受历练任务</text>           
                        <text>黄金港口会定时随机刷出千年蛇妖BOSS</text>
			<text>30级以后每天在郭精明处有收购宝石的任务</text>
			<text>30级～54级每天在灵空子处有兑换魔性碎片的任务</text>
			<text>30级时可打开公告的新手奖励领取30级新手礼包</text>
	</level>
	<level min="35" max="39">
			<text>30级～39级可以找柳鸿儒接受历练任务</text>
                        <text>35级～49级的玩家每日可在天涯海角的公告牌处领取杀怪任务，获取不菲的经验</text>
			<text>35级以后每天在朱子机那里有收购宠物仙丹的任务</text>
			<text>35级时可打开公告的新手奖励领取35级新手礼包</text>
			<text>30级～54级每天在灵空子那里有兑换魔性碎片的任务</text>
	</level>	
	<level min="40" max="49">
			<text>40级～49级可以找游不归接受历练任务</text>
			<text>30级～54级每天在灵空子那里有兑换魔性碎片的任务</text>
	</level>
	<level min="50" max="54">
                        <text>50级～60级的玩家每日可在尚其村的公告牌处领取杀怪任务，获取不菲的经验</text>
			<text>50级～54级可以找碧环接受历练任务</text>
			<text>30级～54级每天在灵空子那里有兑换魔性碎片的任务</text>
	</level>	
	<level min="55" max="59">
			<text>55级～59级可以找莫村长接受历练任务</text>
			<text>55级～59级每天在醍醐大师那里有兑换魔性碎片的任务</text>
	</level>
</help>
</info>
